.modal-chord
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  z-index: 17
  display: flex
  justify-content: center
  align-items: center

  *
    user-select: none
    font-size: 18px


.shortcut-chord, .shortcut-chord-fake
  position: absolute
  right: 0
  bottom: 0
  min-width: 250px
  max-height: 90% 
  border-radius: 5px
  margin: 10px
  padding: 10px
  color: white
  .header
    min-width: 40px 
    height: 20px
    display: flex
    justify-content: center
    position: absolute  
    padding-bottom: 5px 
    top: 0px
    left: 20px
  ul
    padding: 10px
    margin: 0
    border-radius: 5px
    display: flex
    flex-direction: column
    gap: 10px
    justify-content: start
    align-items: start
    list-style-type: none
    font-weight: 400 

    li
      display: flex
      .title
        width: 15px
        color: white 

      .arrow
        width: 30px
        font-size: 20px

      .desc
        color: #D3B37BFF

   
.shortcut-chord-fake
  z-index: 19
  .header
    background-color: #1F1F2800

  ul 
    border: 1px solid #00000000

.shortcut-chord
  z-index: 18
  opacity: .85 
  background-color: #1F1F28
  .header
    background-color: #1F1F28

  ul 
    border: 1px solid gray
    li 
      opacity: 0



.rename-chord, .desc-chord, .weight-chord
  display: none
  position: relative
  min-width: 250px
  max-height: 90% 
  border-radius: 5px
  margin: 10px
  padding: 12px
  color: white
  background-color: #1F1F28
  opacity: .85 

  .header
    min-width: 40px 
    height: 20px
    display: flex
    justify-content: center
    position: absolute  
    padding: 5px 
    top: 2px
    left: 20px
    font-size: 16px
    background-color: #1F1F28

  input
    background-color: #1F1F2800
    border: 1px solid rgba(0, 0, 0, 0.2)
    padding: 15px
    color: white
    font-size: 20px
    border: 1px solid white

