@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
:root {
  --grid-size: 20px;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}
html *, body * {
  box-sizing: border-box;
  text-decoration: none;
}
html * a:visited, body * a:visited {
  color: black;
}

body {
  width: 100vw;
  height: 100vh;
}

.nodes text {
  pointer-events: none;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 1%, transparent 1px), linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 1%, transparent 1px);
  background-size: var(--grid-size) var(--grid-size);
}
.container * {
  user-select: none;
}
.container .main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.container .main .settings {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container .main #chart {
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  z-index: 10;
}
.container footer {
  position: absolute;
  bottom: 0;
  padding: 5px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.container footer div:first-child {
  pointer-events: none;
  color: #cf8c00;
}
.container footer div:first-child a {
  color: #009e9e;
}
.container footer .color {
  z-index: 12;
}

#floating-panel {
  position: fixed;
  background-color: white;
  top: 20px;
  left: calc(100vw - 220px);
  width: 200px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  font-size: 14px;
  z-index: 15;
  display: flex;
  flex-direction: column;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out, left 0.5s ease-in-out, top 0.5s ease-in-out;
}
#floating-panel.MAX {
  width: 90vw;
  height: 90vh;
  left: 20px;
  top: 20px;
}
#floating-panel #info {
  width: 100%;
  padding: 10px;
  top: 0;
  background-color: rgba(255, 255, 150, 0.5);
  user-select: none;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: grab;
  touch-action: none;
  user-select: none;
}
#floating-panel #info .cm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
#floating-panel #info .cm .max:hover {
  color: green;
  cursor: pointer;
}
#floating-panel #info .cm .close:hover {
  color: red;
  cursor: pointer;
}
#floating-panel .body-info {
  padding: 0 10px 10px 10px;
  overflow: auto;
  scrollbar-width: thin;
  cursor: text;
}
#floating-panel .body-info .body div {
  padding: 1px;
}

#menu-bar {
  background-color: #f4f4f4;
  border-bottom: 1px solid #ddd;
  padding: 0;
  margin: 0;
}
#menu-bar > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
#menu-bar > ul hr {
  opacity: 0.5;
  width: 90%;
}
#menu-bar > ul > li {
  position: relative;
  padding: 5px 10px;
  cursor: pointer;
}
#menu-bar > ul > li:hover {
  background-color: #e0e0e0;
}
#menu-bar > ul > li:hover > ul {
  display: block;
}
#menu-bar > ul > li > ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  border: 1px solid #ddd;
  list-style-type: none;
  padding: 5px;
  margin: 0;
  min-width: 200px;
  z-index: 20;
}
#menu-bar > ul > li > ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}
#menu-bar > ul > li > ul li span:nth-child(2) {
  color: rgb(100, 100, 100);
}
#menu-bar > ul > li > ul li > ul {
  display: none;
  position: absolute;
  top: 45%;
  left: 50%;
  background-color: #ffffff;
  border: 1px solid #ddd;
  list-style-type: none;
  padding: 5px;
  margin: 0;
  min-width: 240px;
  z-index: 20;
}
#menu-bar > ul > li > ul li > ul li input[type=number] {
  width: 45px;
}
#menu-bar > ul > li > ul li > ul li div {
  display: flex;
  gap: 5px;
}
#menu-bar > ul > li > ul li > ul li label {
  display: flex;
  align-items: center;
  width: 100%;
}
#menu-bar > ul > li > ul li > ul li label span:first-child {
  width: 30px;
}
#menu-bar > ul > li > ul li > ul li label a {
  border: 1px solid gray;
  width: 12px;
  height: 12px;
  font-size: 10px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
#menu-bar > ul > li > ul li > ul li label a:hover {
  cursor: help;
}
#menu-bar > ul > li > ul li:hover {
  background-color: #f4f4f4;
}
#menu-bar > ul > li > ul li:hover ul {
  display: block;
}
#menu-bar > ul > li > ul #panel-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#custom-context-menu {
  position: fixed;
  background: white;
  border: 1px solid gray;
  padding: 5px;
  z-index: 20;
}
#custom-context-menu * {
  user-select: none;
}
#custom-context-menu ul {
  background-color: #ffffff;
  border: 1px solid #ddd;
  list-style-type: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
  z-index: 20;
}
#custom-context-menu ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}
#custom-context-menu ul li span:nth-child(2) {
  color: rgb(100, 100, 100);
}
#custom-context-menu ul li:hover {
  background-color: #f4f4f4;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 20;
}
.modal * {
  user-select: none;
  font-size: 18px;
}
.modal .help-panel {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.modal .help-panel .help-title {
  text-align: center;
  font-weight: bold;
  padding: 5px;
}
.modal .help-panel hr {
  width: 50%;
}
.modal .help-panel .help-content {
  width: 100%;
  padding: 5px;
}
.modal .help-panel .help-content .help-table {
  width: 100%;
}
.modal .help-panel .help-content .help-table tr {
  padding: 3px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal .help-panel .help-content .help-table tr .key {
  font-weight: bold;
}

.grid-hidden {
  background-image: none !important;
}

.hidden {
  opacity: 0 !important;
}

.rect {
  fill: lightblue;
  stroke: black;
  stroke-dasharray: 2;
  opacity: 0.2;
}

.handle {
  fill: white;
  stroke: black;
  stroke-width: 1.5;
  cursor: pointer;
  opacity: 0.7;
}

#console-panel {
  position: fixed;
  background-color: white;
  bottom: 5px;
  left: 5px;
  width: 70px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  font-size: 14px;
  z-index: 15;
  display: flex;
  flex-direction: column;
}
#console-panel #console {
  width: 600px;
  padding: 5px;
  top: 0;
  user-select: none;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  touch-action: none;
  user-select: none;
}
#console-panel #console .close:hover {
  color: red;
  cursor: pointer;
}
#console-panel * {
  background: #333;
  color: white;
}
#console-panel hr {
  opacity: 0.7;
  width: 100%;
  background: #333;
}
#console-panel .console {
  width: 600px;
  border: 1px solid #444;
  background: #333;
  padding: 10px;
}
#console-panel .console #output {
  height: 200px;
  overflow-y: auto;
  border-bottom: 1px solid #444;
  padding: 5px;
}
#console-panel .console #input {
  width: 100%;
  padding: 5px;
  background: #222;
  color: #fff;
  border: none;
  outline: none;
}

#tools-panel {
  position: fixed;
  background-color: white;
  top: 35px;
  left: 5px;
  width: 70px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  font-size: 14px;
  z-index: 15;
  display: flex;
  flex-direction: column;
}
#tools-panel #tools {
  width: 100%;
  padding: 5px;
  top: 0;
  background-color: rgba(255, 255, 150, 0.5);
  user-select: none;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: grab;
  touch-action: none;
  user-select: none;
}
#tools-panel #tools .close:hover {
  color: red;
  cursor: pointer;
}
#tools-panel .body-tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
#tools-panel .body-tools * {
  user-select: none;
}
#tools-panel .body-tools div {
  padding: 5px;
}
#tools-panel .body-tools div input {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
#tools-panel .body-tools .scale, #tools-panel .body-tools .tree, #tools-panel .body-tools .force {
  cursor: pointer;
}
#tools-panel .body-tools .scale img, #tools-panel .body-tools .tree img, #tools-panel .body-tools .force img {
  border-radius: 5px;
  width: 50px;
  height: 50px;
  transition: transform 0.2s ease-in-out;
}
#tools-panel .body-tools .scale:hover img, #tools-panel .body-tools .tree:hover img, #tools-panel .body-tools .force:hover img {
  transform: scale(1.1);
}
#tools-panel .body-tools .scale:active img, #tools-panel .body-tools .tree:active img, #tools-panel .body-tools .force:active img {
  transform: scale(0.9);
}

.gray-background {
  opacity: 0.5;
}

/*# sourceMappingURL=style.css.map */
