:root
  --grid-size: 20px

html, body
  margin: 0
  padding: 0
  overflow: hidden

  *
    box-sizing: border-box



body
  width: 100vw
  height: 100vh

.nodes text
  pointer-events: none

.container
  width: 100%
  height: 100%

  display: flex
  flex-direction: column
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 1%, transparent 1px), linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 1%, transparent 1px)
  background-size: var(--grid-size) var(--grid-size)
  *
    user-select: none

  .main 
    flex: 1
    display: flex
    flex-direction: column
    .setting
      padding: 10px
      display: flex 
      flex-direction: column
      gap: 10px
      
    #chart
      width: 100%
      height: 100%
      user-select: none
      -webkit-user-select: none
      -moz-user-select: none
      -ms-user-select: none

  footer
    position: absolute
    bottom: 0
    padding: 5px
    display: flex
    width: 100%
    justify-content: space-between
    align-items: center
    div:first-child
      pointer-events: none


#floating-panel 
  position: fixed
  background-color: white
  top: 20px
  right: 20px
  width: 200px
  height: 400px
  background-color: rgba(255, 255, 255, 0.5)
  border: 1px solid #ddd
  border-radius: 5px
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
  font-family: Arial, sans-serif
  font-size: 14px
  z-index: 1000
  display: flex
  flex-direction: column


  #info
    width: 100%
    padding: 10px
    top: 0
    background-color: rgba(255, 255, 150, .5)
    user-select: none
    margin: 0
    display: flex
    justify-content: space-between
    align-items: center
    cursor: grab
    touch-action: none
    user-select: none
    .close:hover 
      color: red
      cursor: pointer 
  .body-info
    padding: 0 10px 10px 10px
    overflow: auto
    scrollbar-width: thin
    cursor: text



.menu-bar 
  background-color: #f4f4f4
  border-bottom: 1px solid #ddd
  padding: 0
  margin: 0

  ul 
    list-style-type: none
    margin: 0
    padding: 0
    display: flex
  

  .menu-item 
    position: relative
    padding: 10px 20px
    cursor: pointer
    li
      display: flex
      justify-content: space-between
      align-items: center
    &:hover 
      background-color: #e0e0e0
      
      .dropdown 
        display: block


  .dropdown 
    display: none
    position: absolute
    top: 100%
    left: 0
    background-color: #ffffff
    border: 1px solid #ddd
    list-style-type: none
    padding: 0
    margin: 0
    min-width: 200px
    z-index: 1000


    li 
      padding: 10px
      cursor: pointer
      span:nth-child(2)
        color: rgb(100,100,100)


      &:hover 
        background-color: #f4f4f4
    #panel-btn
      display: flex
      justify-content: space-between
      align-items: center
