@use 'fonts'

:root
  --grid-size: 20px

html, body
  margin: 0
  padding: 0
  overflow: hidden
  font-family: 'Ubuntu', sans-serif
  font-weight: 300
  *
    box-sizing: border-box

    text-decoration: none 

    a:visited 
      color: black 

body
  width: 100vw
  height: 100vh

.nodes text
  pointer-events: none

.container
  width: 100%
  height: 100%

  display: flex
  flex-direction: column
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 1%, transparent 1px), linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 1%, transparent 1px)
  background-size: var(--grid-size) var(--grid-size)

  *
    user-select: none

  .main 
    flex: 1
    display: flex
    flex-direction: column
    .settings
      padding: 10px
      display: flex 
      flex-direction: column
      gap: 10px
      
    #chart
      width: 100%
      height: 100%
      user-select: none
      -webkit-user-select: none
      -moz-user-select: none
      -ms-user-select: none
      z-index: 10

  footer
    position: absolute
    bottom: 0
    padding: 5px
    display: flex
    width: 100%
    justify-content: space-between
    align-items: center
    div:first-child
      pointer-events: none
      color: #cf8c00
      a
        color: #009e9e

    .color
      z-index: 12


#floating-panel 
  position: fixed
  background-color: white
  top: 20px
  right: 20px
  width: 200px
  height: 400px
  background-color: rgba(255, 255, 255, 0.5)
  border: 1px solid #ddd
  border-radius: 5px
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
  font-family: Arial, sans-serif
  font-size: 14px
  z-index: 15
  display: flex 
  flex-direction: column


  #info
    width: 100%
    padding: 10px
    top: 0
    background-color: rgba(255, 255, 150, .5)
    user-select: none
    margin: 0
    display: flex
    justify-content: space-between
    align-items: center
    cursor: grab
    touch-action: none
    user-select: none
    .close:hover 
      color: red
      cursor: pointer 

  .body-info
    padding: 0 10px 10px 10px
    overflow: auto
    scrollbar-width: thin
    cursor: text
    .body div
      padding: 1px

#menu-bar 
  background-color: #f4f4f4
  border-bottom: 1px solid #ddd
  padding: 0
  margin: 0

  > ul 
    list-style-type: none
    margin: 0
    padding: 0
    display: flex
    hr 
      opacity: .5
      width: 90%
    > li 
      position: relative
      padding: 5px 10px
      cursor: pointer

      &:hover 
        background-color: #e0e0e0
        
        > ul 
          display: block

      > ul
        display: none
        position: absolute
        top: 100%
        left: 0
        background-color: #ffffff
        border: 1px solid #ddd
        list-style-type: none
        padding: 5px
        margin: 0
        min-width: 200px
        z-index: 20

        li 
          display: flex
          justify-content: space-between
          align-items: center
          padding: 5px
          cursor: pointer
          span:nth-child(2)
            color: rgb(100,100,100)

          > ul 
            display: none
            position: absolute 
            top: 45%
            left: 50%
            background-color: #ffffff
            border: 1px solid #ddd
            list-style-type: none
            padding: 5px
            margin: 0
            min-width: 200px
            z-index: 20

            li
              input
                &[type=number]
                  width: 50px
              div
                display: flex
                gap: 5px

              label
                display: flex
                align-items: center
                width: 100%
                span:first-child
                  width: 30px
                a
                  border: 1px solid gray
                  width: 12px
                  height: 12px
                  font-size: 10px
                  display: flex
                  border-radius: 50%
                  justify-content: center
                  align-items: center
                  &:hover
                    cursor: help 

          &:hover 
            background-color: #f4f4f4
            ul 
              display: block

        #panel-btn
          display: flex
          justify-content: space-between
          align-items: center


#custom-context-menu
  position: fixed 
  background: white 
  border: 1px solid gray 
  padding: 5px
  z-index: 20
  *
    user-select: none

  ul 
    background-color: #ffffff
    border: 1px solid #ddd
    list-style-type: none
    padding: 0
    margin: 0
    min-width: 200px
    z-index: 20

    li 
      display: flex
      justify-content: space-between
      align-items: center
      padding: 5px
      cursor: pointer
      span:nth-child(2)
        color: rgb(100,100,100)

      &:hover 
        background-color: #f4f4f4



// Help Panel Styles
.modal
  position: fixed
  top:0
  left: 0
  width: 100vw
  height: 100vh
  display: none
  justify-content: center
  align-items: center
  z-index: 20
  *
    user-select: none
    font-size: 18px

  .help-panel
    padding: 15px
    background-color: rgba(255,255,255, 0.7) 
    width: 350px
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)

    .help-title
      text-align: center
      font-weight: bold
      padding: 5px

    hr 
      width: 50%

    .help-content
      width: 100%
      padding: 5px

      .help-table
        width: 100%
        tr 
          padding: 3px
          width: 100%
          display: flex
          justify-content: space-between
          align-items: center
          .key 
            font-weight: bold

.grid-hidden 
  background-image: none !important

.hidden
  opacity: 0 !important


.rect
  fill: lightblue
  stroke: black
  stroke-dasharray: 2
  opacity: .2
        

.handle 
  fill: white
  stroke: black
  stroke-width: 1.5
  cursor: pointer
  opacity: .7


#console-panel 
  position: fixed
  background-color: white
  bottom: 5px
  left: 5px
  width: 70px
  border: 1px solid #ddd
  border-radius: 5px
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
  font-family: Arial, sans-serif
  font-size: 14px
  z-index: 15
  display: flex 
  flex-direction: column

  #console
    width: 600px
    padding: 5px
    top: 0
    user-select: none
    margin: 0
    display: flex
    justify-content: space-between
    align-items: center
    touch-action: none
    user-select: none
    .close:hover 
      color: red
      cursor: pointer 
  *
    background: #333
    color: white


  hr 
    opacity: .7
    width: 100%
    background: #333

  .console 
    width: 600px
    border: 1px solid #444
    background: #333
    padding: 10px
    #output 
      height: 200px
      overflow-y: auto
      border-bottom: 1px solid #444
      padding: 5px

    #input 
      width: 100%
      padding: 5px
      background: #222
      color: #fff
      border: none
      outline: none
//       font-size: 14px

#tools-panel 
  position: fixed
  background-color: white
  top: 35px
  left: 5px
  width: 70px
  background-color: rgba(255, 255, 255, 0.5)
  border: 1px solid #ddd
  border-radius: 5px
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
  font-family: Arial, sans-serif
  font-size: 14px
  z-index: 15
  display: flex 
  flex-direction: column


  #tools
    width: 100%
    padding: 5px
    top: 0
    background-color: rgba(255, 255, 150, .5)
    user-select: none
    margin: 0
    display: flex
    justify-content: space-between
    align-items: center
    cursor: grab
    touch-action: none
    user-select: none
    .close:hover 
      color: red
      cursor: pointer 

  .body-tools
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 10px
    *
      user-select: none

    div
      padding: 5px
      input
        width: 50px
        height: 50px
        cursor: pointer

    .scale, .tree, .force
      cursor: pointer

      img
        border-radius: 5px
        width: 50px
        height: 50px
        transition: transform 0.2s ease-in-out

      &:hover img 
        transform: scale(1.1)

      &:active img 
        transform: scale(0.9)

.gray-background
  opacity: .5
